@theme "/usr/share/rofi/themes/DarkBlue.rasi"

configuration {
  modes: [ combi ];
  combi-modes: [ run, filebrowser ];
  font: "JetBrains Mono 12";
  show-icons: true;	
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}
